<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border shadow">
    <div >
        <h1 class="fw-bold main-title">{{'wishlist.wishlist' | translate}}</h1>
        
        @for (item of wishlistItems; track item._id) {
            <div class="content d-flex flex-column flex-md-row align-items-start border-bottom  mb-3 pb-3">
                <div class="col-md-3 p-2">
                    <img class="img-fluid rounded h-[150px]" [src]="item.imageCover" [alt]="item.description">
                </div>
                <div class="col-md-9 p-2">
                    <h2 class="h4 fw-bold">{{item.title}}</h2>
                    <h6 class="text-success fw-bold my-2">{{item.price | currency : 'GBP'}}</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <p (click)="deleteItem(item._id)" class="text-danger mt-2 remove cursor-pointer">
                            <i class="me-2 fa-solid fa-trash"></i> {{'wishlist.remove' | translate}}
                        </p>
                        <button (click)="addItem(item._id)" class="btn btn-main px-4 fw-bold">
                            {{'wishlist.addToCart' | translate}} <i class="fa-solid fa-cart-shopping fa-beat ms-1"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div> 
</section>

 